<!DOCTYPE html>
<html>
  <head>
    <title>SampleBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to "SampleBlog", home_path, {:class => 'navbar-brand'}%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Home", home_path, {:class => 'nav-link'}%>
        </li>
        <li class="nav-item">
          <%= link_to "Create Post", new_post_path, {:class => 'nav-link'}%>
        </li>
      </ul>
    </div>
  </div>
</nav>
  <div class="container">
    <br>
    <%= yield %>
  </div>
  </body>
</html>
